.magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--blue, rgb(4, 125, 196)),
      var(--darkblue, rgb(56, 182, 255)),
      var(--yellow, rgb(255, 223, 43)),
      var(--darkyellow, rgb(228, 196, 13))
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    display: inline;
  }